body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
  font-size: 24px;
}

.flexbox {
  display: flex;
  height: 100px;
  flex-wrap: wrap;
}

.h {
  flex-grow: 5;
}

.foll {
  flex-shrink: 6;
}

.flexbox div {
  border: 2px solid orange;
  flex: 1 0 25%;
}
