body {
  background-color: #e0e0e0;
  margin: 0px;
  font-family: sans-serif;
}

.height {
  height: 70vh;
  margin: 0px;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;

}

.mail div {
  text-align: center;
}


.flexbox div {
  flex-shrink: 1;
}


.header,
.navigation,
.footer {
  color: white;

}

.main {
  height: 70vh;
  background: white;
  width: 518px;
  flex-grow: 1;
}

.header {
  background: orange;
  width: 100%;
  height: 15vh;
}

.border {
  border: 2px solid black;
}

.dash-border {
  border-style: dashed;
  border: 2px solid black;
}

.navigation {
  background: #055605;
  width: 250px;
  flex-grow: 1;
  min-height: 15vh;
  max-height: auto;
}

.footer {
  background: #afb0b1;
  width: 100%;
  height: 15vh;
  margin: 0px;
}
